includes:
  - phpstan-baseline.neon
parameters:
  level: max
  reportUnmatchedIgnoredErrors: true
  paths:
    - ./
  excludePaths:
    - .build
    - .ddev
    - .idea
    - .project
    - config (?)
    - var (?)
    - Resources
