<div class="contacts-edit__fieldset contacts-edit__photo form-group">
    <label for="contacts-edit__field_photo" class="col-sm-2 control-label">
        <f:translate key="form.field.photo" />
    </label>

    <div class="col-sm-10">
        <f:if condition="{contact.photo}">
            <f:then>
            <div>
                <f:image
                    image="{contact.photo}"
                    alt="{contact.firstName} {contact.lastName}"
                    maxWidth="200"/>
            </div>
            <div>
                <f:link.action
                    class="btn btn-danger"
                    action="deletePhoto"
                    controller="ContactEdit"
                    arguments="{contact:contact}"
                >
                    Delete photo
                </f:link.action>
            </div>
            </f:then>
            <f:else>
                <div>
                    <f:image
                        src="{settings.media.dummyPhoto}"
                        alt="{contact.firstName} {contact.lastName}"/>
                </div>
            </f:else>
        </f:if>

        <f:form.upload
            id="contacts-edit__field_photo"
            property="photo"
            class="custom-file-input" />
    </div>
</div>
